.checkout {
    margin-left: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.info {
    display: flex;
    width: 45vw;
    justify-content: center;
}

h2 {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.checkout form {
    background-color: rgba(128, 128, 128, 0.301);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 35vw;
    padding: 2rem;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-items: center;
    gap: 2rem;
    height: 75vh;
    /* height: min-content; */
}

.cardForSale {
    min-height: 0;
    width: 85%;
    height: 55vh;
}

.checkout form h3 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.checkout .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.checkout label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.checkout input[type="text"],
.checkout input[type="email"],
.checkout input[type="tel"],
.checkout input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#order-Button {
    position: relative;
    /* transform: translate(-50%, 0); */
    margin-block: 1rem;
    max-width: 45vw;
    /* left: 50%; */
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.card .confirmation {
    font-size: 1.5rem;

}

.card .confirmation span {
    color: green;
}