.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-container h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.contact-details p {
    margin: 5px 0;
}